.App{
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-color: #eeee;
    padding-top: 4rem;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.navbar{
    background:rgba(255, 255, 255, 0.25) !important;
    border-radius: 2px;
    backdrop-filter: blur(2px);
}